body {
    background-color: white;
    color: rgb(41, 190, 176);
    font-family: 'Ubuntu';
    font-size: 250%;
    text-align: center;
}
button {
    border: none;
    color:rgb(41, 190, 176);
    font-size: 70%;
    margin-top: 5%;
    width: 90%;
}
button:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 60%;
}
input:focus {
    outline: none;
}

header {
    background-color: rgb(41, 190, 176);
    color: white;
}

#warning {
    color: red;
    display: none;
}